<div class="bg-cover bg-center" style="background-image: url('<%= asset_path('galaxy.jpg') %>')">
  <div class="pt-40 pl-36 text-white">
    <%= link_to new_game_path do %>
      <div class="p-5 border border-gray-900 rounded-full text-black inline-block max-w-max">
        New capybara game. Learn more about it!
      </div>
    <% end %>
    <h1 class="font-semibold italic text-5xl mt-4">A fun capybara game to enjoy and </h1>
    <h1 class="font-semibold italic text-5xl mt-4">boost children to learn new words</h1>
  </div>
</div>
