<%= form_with(model: game) do |form| %>
  <% if game.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
        <% game.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :word, class: 'block text-sm font-medium text-gray-700 text-xl', value: @auto_game unless
          @auto_game %>
    <%= form.text_field :word, class: 'w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500
                                       focus:ring-indigo-500 sm:text-sm max-w-max mt-0' unless auto_game %>
    <%# this field below is needed to get auto_game flag available in create action %>
    <%= form.hidden_field :auto_game, value: @auto_game if auto_game %>
    <%= form.button class: "p-3 rounded-lg text-white bg-teal-500 mb-5 mt-5" %>
  </div>
<% end %>

