<%= turbo_stream.update 'hidden_word' do %>
  <%= render 'hidden_word', hidden_word: @hidden_word %>
<% end %>

<%= turbo_stream.append 'hidden_word' do %>
  <%= render 'finished_game' if @finished_game %>
<% end %>
