<p style="color: green"><%= notice %></p>

<h1 class="text-4xl mb-5">Games</h1>

<div id="games">
  <% @games.each do |game| %>
    <%= render game %>
    <p class="mt-5 mb-8">
      <%= link_to "Play this game", game, class: 'p-3 rounded-lg text-white bg-orange-500' %>
    </p>
  <% end %>
</div>

<%= link_to "New game", new_game_path, class: 'p-3 bg-sky-500 rounded-lg text-white' %>
<%= link_to "Create game with random word", new_game_path(auto: true), class: 'p-3 bg-yellow-500 text-white
                                                                              rounded-lg' %>
