<%= content_tag(:h1, "Create new game", class: "text-4xl") unless @auto_game %>
<%= content_tag(:h1, "Create new game with random word", class: "text-4xl") if @auto_game %>

<%= render "form", game: @game, auto_game: @auto_game %>
<%= link_to "Back to games", games_path, class: 'p-3 text-white bg-purple-600 rounded-lg' %>
