<p style="color: green"><%= notice %></p>
<h1 class="text-4xl">Guess the word!</h1>


<%= turbo_stream_from 'hidden_word' %>
<%= turbo_stream_from 'used_letters' %>

<div id='hidden_word'>
  <h1 class="text-3xl"><%= @hidden_word.capitalize %></h1>
</div>

<%= form_with url: check_game_path(@game), method: :post do |form| %>
  <%= form.text_field :letter, placeholder: 'Enter your letter', class: 'block w-full rounded-md border-gray-300
      shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm inline-block max-w-max' %>
  <%= form.button 'Submit', class: "p-3 rounded-lg text-white bg-sky-500 mb-5" %>
<% end %>


<div>
  <h3 class="text-3xl">Already used letters</h3>
  <p id='used_letters' class="text-2xl mb-5"><%= @used_letters %></p>
</div>

<div>
  <%= link_to "Edit this game", edit_game_path(@game), class: 'p-3 rounded-lg text-white bg-orange-500' %>
  <%= link_to "Back to games", games_path, class: 'p-3 rounded-lg text-white bg-purple-600' %>

  <%= button_to "Destroy this game", @game, method: :delete, class: 'p-3 rounded-lg text-white bg-red-500 mt-5' %>
</div>

